.menu-screen {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1em;
}

.start-game-btn {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 12px;
    padding: .3em 1em;


    cursor: pointer;
}

#dancing-marshmallow-gif {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
}

.start-game-btn:hover {
    font-size: 26px;
}

.start-game-btn:hover #dancing-marshmallow-gif {
    opacity: 1;
    transform: translate(-50%, -132.5%);
}